.quote{
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3{ 
    color: rgb(69, 7, 78);
    font-size: 18px;
    margin-top: 5px;
}

h3::before{
    content: '~';
}

.quote p{
    font-size: 26px;
    font-family: cursive;
    font-weight: bold;
    margin: 0;
}

.quote button{
    font-size: 16px;
    background-color: rgb(69, 7, 78);
    color: beige;
    padding: 5px;
    border-radius: 8%;
}