.new-quote-form{
    color: rgb(69, 7, 78);
    padding: 16px;
    background-color: linen;
    width: 360px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.26);
    border-radius: 5px;
    margin: 30px auto;
}

.new-quote-form input{
    box-sizing: border-box;
    margin: 5px;
    width: 100%;
}

.new-quote-form input.label{
    margin: 5px;
    display: block;
}

.new-quote-form textarea{
    box-sizing: border-box;
    width: 100%;
}

.new-quote-form textarea:focus{
    outline: none;
}

.new-quote-form button{
    margin-top: 5px;
    color: beige;
    background-color:rgb(69, 7, 78);
    font-size: medium;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}