*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav{
    background-color: rgb(69, 7, 78);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    font-size: 22px;
}

.nav ul{
    list-style: none;
    justify-content: left;
    text-decoration: none;
    display: flex;
    gap: 40px;
}

.nav h2{
    color: bisque;
}

.nav a{
    color: bisque;
    text-decoration: none;
    font-weight: 700;
}